.customers {
    padding: 2rem;
  }
  
  .customer-form {
    margin-bottom: 2rem;
  }
  
  .customer-form input {
    display: block;
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .customer-form button {
  
    background-color: #4265ff;
    color: white;
  }
  
  .customer-form button:hover {
    background-color: #308397;
  }

  

  .customer-list {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }