.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #006C84;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  flex-direction: column;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.social-media h3 {
  color: #ccc;
  margin-bottom: 10px;
}

/* Hier wurde die Flex-Richtung von column auf row geändert, 
   damit die Icons nebeneinander angezeigt werden */
   .social-links {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Zentriert die Logos */
    gap: 15px;
  }

.social-links li {
  display: flex;
  align-items: center;
}

.social-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;
}

.social-links a:hover {
  color: #ff5722;
}

.social-links img {
  width: 24px;
  height: 24px;
}

.border {
  width: 10rem;
  margin: 0 auto;
  color: #fff;
}

  

  