/* src/CSS/Home.css */

.home-container {
  /* Der Container passt sich jetzt dem übergeordneten flex-Layout an */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Text beginnt oben */
  background-color: #9cc2ca;
  width: 100%;
  padding: 2rem;           /* Etwas Innenabstand, damit Inhalte nicht direkt am Rand kleben */
  box-sizing: border-box;  /* Damit Padding in der Breite enthalten ist */
  min-height: 100vh;       /* Falls du sicherstellen möchtest, dass der Home-Inhalt mindestens die gesamte Höhe einnimmt */
}

.home-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.home-description {
  font-size: 1.2rem;
  color: #555;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.6;
}

.home-button {
  background-color: #006C84;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #9cc2ca;
  border:#333;
  border-color:#333;
  border-style: solid;
}


 
  