.offer-action-btn {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    background-color: #00ff9d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .offer-action-btn:hover {
    background-color: #b700ff;
  }

  .offers-container {
    background-color: #fffdfd;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
