.offer-action-btn {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    background-color: #00ff9d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .offer-action-btn:hover {
    background-color: #b700ff;
  }

  .offers-container {
    background-color: #fffdfd;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  /* Direkt für .btn-success */
.btn-success {
  background-color: #006C84; /* Neuer Hintergrundfarbe */
  border-color: #006C84;
}

/* Optional: Für den Hover-Zustand */
.btn-success:hover {
  background-color: #9cc2ca;
  border-color: #9cc2ca;
}

.btn-secondary{
  background-color: #006C84;
  border-color: #006C84;
}

.btn-secondary:hover{
  background-color: #9cc2ca;
  border-color: #9cc2ca;
}

.btn-info{
  background-color: #006C84;
  border-color: #006C84;
  color: #fff;
}

.btn-info:hover{
  background-color: #9cc2ca;
  border-color: #9cc2ca;
}

.btn-warning{
  background-color: #006C84;
  border-color: #006C84;
  color: #fff;
}

.btn-warning:hover{
  background-color: #9cc2ca;
  border-color: #9cc2ca;
}



.btn-outline-primary:hover{
  background-color: #9cc2ca;
  border-color: #9cc2ca;
}


.btn-outline-primary{
  border-color: #006C84;
  color: #000;
}

.btn-outline-primary:active{
  border-color: #9cc2ca;
  color: #9cc2ca;
}